__pycache__/
.Python
build/
lib/
.cache
__pypackages__/
.env
.venv
venv/
.vscode/
.github/

*.png
*.npz
*.npy
*.onnx
*.bin
*.sh
*.md
*.in
*.pth
*.jpg
*.gif
*.ply
*.pt
*.mp4
*.ckpt

predictions.txt

videos/
cotracker3/

lifting/segmentation/segment-anything-2/demo/
lifting/segmentation/segment-anything-2/notebooks/
lifting/segmentation/segment-anything-2/sav_dataset/
lifting/segmentation/segment-anything-2/tools/
lifting/segmentation/segment-anything-2/training/
lifting/segmentation/sam2.1_base_plus/
lifting/segmentation/sam2.1_small/
lifting/segmentation/sam2.1_tiny/

lifting/inpainting/ProPainter/configs/
lifting/inpainting/ProPainter/datasets/

4DGS/Instant4D/example/bike_3d_result/iter_3000/test
4DGS/shape-of-motion/output/checkpoints/