__pycache__/
.Python
build/
lib/
.cache
__pypackages__/
.env
.venv
venv/
.vscode/
.github/

*.png
*.npz
*.onnx
*.bin
*.sh
*.md
*.in
*.pth
*.jpg
*.gif

predictions.txt

videos/
cotracker3/

lifting/segmentation/segment-anything-2/demo/
lifting/segmentation/segment-anything-2/notebooks/
lifting/segmentation/segment-anything-2/sav_dataset/
lifting/segmentation/segment-anything-2/tools/
lifting/segmentation/segment-anything-2/training/
lifting/segmentation/sam2.1_base_plus/
lifting/segmentation/sam2.1_small/
lifting/segmentation/sam2.1_tiny/

lifting/inpainting/ProPainter/configs/
lifting/inpainting/ProPainter/datasets/